<!-- <section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Let's Get In Touch!</h2>
                <hr class="primary">
                <p>Ready to start your next project with us? That's great! Give us a call or send us an email and we will get back to you as soon as possible!</p>
            </div>
        <div class="col-lg-2 col-lg-offset-2 text-center">
            <a href="https://twitter.com/{{ site.twitter_username }}">
                <i class="fa fa-twitter fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p>{{ site.twitter_username }}</p>
            </a>
        </div>
        <div class="col-lg-2 col-lg-offset-1 text-center">
            <a href="mailto:{{ site.email }}">
            <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p>{{ site.email }}</p>
            </a>
        </div>

    </div>
</section> -->


<section id="section-5" class="section dark-translucent-bg" style="background-image: url(images/restaurant-2-contact.jpg);">
  <div class="container">
    <div class="row">
      <div class="col-md-8 text-center col-md-offset-2 pv-20">
        <h2 class="text-center">Contact Us</h2>
        <div class="separator with-icon"><i class="fa fa-phone bordered"></i></div>
        <p class="lead text-center">It would be great to hear from you! Just call us and ask for anything with which you think we could be helpful. We are looking forward to hearing from you!</p>
        <ul class="list-inline mb-20 text-center">
          <li><i class="text-default fa fa-map-marker pr-5"></i>One infinity loop, 54100</li>
          <li><a href="tel: 00 1234567890" class="link-dark"><i class="text-default fa fa-phone pl-10 pr-5"></i>+00 1234567890</a></li>
          <li><a href="mailto:info@theproject.com" class="link-dark"><i class="text-default fa fa-envelope-o pl-10 pr-5"></i>info@theproject.com</a></li>
        </ul>
        <div class="separator"></div>
        <ul class="social-links circle animated-effect-1 margin-clear text-center space-bottom">
          <li class="facebook"><a target="_blank" href="http://www.facebook.com"><i class="fa fa-facebook"></i></a></li>
          <li class="twitter"><a target="_blank" href="http://www.twitter.com"><i class="fa fa-twitter"></i></a></li>
          <li class="googleplus"><a target="_blank" href="http://plus.google.com"><i class="fa fa-google-plus"></i></a></li>
          <li class="linkedin"><a target="_blank" href="http://www.linkedin.com"><i class="fa fa-linkedin"></i></a></li>
          <li class="xing"><a target="_blank" href="http://www.xing.com"><i class="fa fa-xing"></i></a></li>
        </ul>
        <form action="http://maps.google.com/maps" method="get" target="_blank">
          <input type="hidden" name="daddr" value="Ruutanatie 2, Helsinki,Finland (Capperi)" />
          <input type="submit" class="btn btn-lg btn-default" value="Get directions" />
        </form>
      </div>
    </div>
  </div>
</section>
