<header>
    <div class="header-content">
        <div class="header-content-inner">
            <!-- <h1>Capperi</h1>-->
            <img src="img/profile.png" class="img-responsive" alt="">
            <hr>Curabitur euismod libero id risus accumsan, in congue arcu consequat. Suspendisse egestas aliquet dictum. Cras ultricies velit sed imperdiet feugiat. Proin gravida, est in pulvinar bibendum, nulla enim consectetur tellus, at elementum elit elit vitae turpis. Vivamus nec lectus sit amet est suscipit malesuada. Donec vitae dictum diam. Suspendisse nisl lectus, blandit sit amet tortor et, cursus tincidunt leo. Vivamus et vestibulum metus, vitae dictum mauris. Integer gravida, eros a tempor ultricies, libero enim efficitur lorem, nec eleifend enim ipsum vel tortor. Donec interdum facilisis neque eget vulputate.
            <p></p>
        </div>
    </div>
</header>
