<section id="hours">
      <div class="container wow fadeIn">
          <div class="row text-center">
              <div class="col-lg-12">
                  <h2>Hours</h2>
                  <hr class="colored">
                  <p>We serve breakfast, lunch, and dinner every day of the week.</p>
              </div>
          </div>
          <div class="row content-row">
              <div class="col-md-4">
                  <div class="pricing-item">
                      <h3>Breakfast</h3>
                      <hr class="colored">
                      <ul class="list-group">
                          <li class="list-group-item"><em>Mon - Thu: 7am - 11am</em>
                          </li>
                          <li class="list-group-item"><em>Fri: 7am - 12pm</em>
                          </li>
                          <li class="list-group-item"><em>Sat: 7am - 3pm</em>
                          </li>
                          <li class="list-group-item"><em>Sun: All Day</em>
                          </li>
                      </ul>
                      <hr class="colored">
                      <a href="#" class="btn btn-outline-dark">Book Now</a>
                  </div>
              </div>
              <div class="col-md-4">
                  <div class="pricing-item">
                      <h3>Lunch</h3>
                      <hr class="colored">
                      <ul class="list-group">
                          <li class="list-group-item"><em>Mon - Thu: 11am - 3pm</em>
                          </li>
                          <li class="list-group-item"><em>Fri: 11am - 5pm</em>
                          </li>
                          <li class="list-group-item"><em>Sat: 11am - 3pm</em>
                          </li>
                          <li class="list-group-item"><em>Sat: 11am - 3pm</em>
                          </li>
                      </ul>
                      <hr class="colored">
                      <a href="#" class="btn btn-outline-dark">Book Now</a>
                  </div>
              </div>
              <div class="col-md-4">
                  <div class="pricing-item">
                      <h3>Dinner</h3>
                      <hr class="colored">
                      <ul class="list-group">
                          <li class="list-group-item"><em>Mon - Thu: 5pm - 10pm</em>
                          </li>
                          <li class="list-group-item"><em>Fri: 5pm - Late</em>
                          </li>
                          <li class="list-group-item"><em>Sat: 5pm - Late</em>
                          </li>
                          <li class="list-group-item"><em>Sun: 5pm - 10pm</em>
                          </li>
                      </ul>
                      <hr class="colored">
                      <a href="#" class="btn btn-outline-dark">Book Now</a>
                  </div>
              </div>
          </div>
      </div>
  </section>
