<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">We create flavorsome, traditional dishes using fresh, local ingredients.</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-thermometer wow bounceIn text-primary"></i>
                    <h3>Temperature is key</h3>
                    <p class="text-muted">Our pizzas are done with an authentica italian oven at about 300° C. That's why the dough rises to have the perfect crunch..</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-group wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>For the family</h3>
                    <p class="text-muted">blablbalbalablabalbalba</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-leaf-o wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>Up to Date</h3>
                    <p class="text-muted">We update dependencies to keep things fresh.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-heart wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>Made with Love</h3>
                    <p class="text-muted">Above all we care about food, and we show it!</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!--


<section id="values" class="services">
       <div class="container">
           <div class="row text-center">
               <div class="col-lg-12 wow fadeIn">
                   <h2>Our Values</h2>
                   <hr class="colored">
                   <p>We create flavorsome, traditional dishes using fresh, local ingredients.</p>
               </div>
           </div>
           <div class="row content-row">
               <div class="col-md-4 wow fadeIn" data-wow-delay=".2s">
                   <div class="media">
                       <div class="pull-left">
                           <i class="fa fa-shopping-cart"></i>
                       </div>
                       <div class="media-body">
                           <h3 class="media-heading">Ingredients</h3>
                           <ul>
                               <li><em>Fresh, local ingredients</em>
                               </li>
                               <li><em>All natural and organic</em>
                               </li>
                               <li><em>Carefully hand selected</em>
                               </li>
                               <li><em>Tested for quality and taste</em>
                               </li>
                           </ul>
                       </div>
                   </div>
               </div>
               <div class="col-md-4 wow fadeIn" data-wow-delay=".4s">
                   <div class="media">
                       <div class="pull-left">
                           <i class="fa fa-cutlery"></i>
                       </div>
                       <div class="media-body">
                           <h3 class="media-heading">Technique</h3>
                           <ul>
                               <li><em>Traditional preparation</em>
                               </li>
                               <li><em>Classic combinations</em>
                               </li>
                               <li><em>Complex flavor profiles</em>
                               </li>
                               <li><em>Hygenic and sanitary</em>
                               </li>
                           </ul>
                       </div>
                   </div>
               </div>
               <div class="col-md-4 wow fadeIn" data-wow-delay=".6s">
                   <div class="media">
                       <div class="pull-left">
                           <i class="fa fa-users"></i>
                       </div>
                       <div class="media-body">
                           <h3 class="media-heading">Community</h3>
                           <ul>
                               <li><em>Bakery rewards program</em>
                               </li>
                               <li><em>Private events</em>
                               </li>
                               <li><em>Personal catering menus</em>
                               </li>
                               <li><em>Nightly community specials</em>
                               </li>
                           </ul>
                       </div>
                   </div>
               </div>
           </div>
       </div>
   </section> -->
